@page
@model AngriEnergyConnect.Pages.ProductModel
@{
    int? userID = HttpContext.Session.GetInt32("UserID");
    string? accountType = HttpContext.Session.GetString("accountType");
}
<section class="page-section">
    <!-- .................................................................................................................... -->
    <!-- Validation to decide what to show on the web page -->
    <!-- .................................................................................................................... -->
        @* Only for Employees *@
     
    @if (userID != null && accountType == "Employee")
    {
        <div class="text-center">
            <h1>View All Products and Filter by Farmer ID</h1>
        </div>

        <br />
        <br />
        <!-- .................................................................................................................... -->
        <!-- Form to insert filter form with to table with products for employees -->
        <!-- .................................................................................................................... -->
        <form method="get" class="form-container2">

            <label for="filterFarmerId">Farmer ID: </label>
            <input type="number" asp-for="filterFarmerId" />

            <button type="submit" name="action" value="apply">Apply Filter</button>
            <button type="submit" name="action" value="clear">Clear</button>

        </form>
        <!-- .................................................................................................................... -->
            <!-- Display cards with  products for employees -->
        <!-- .................................................................................................................... -->
        @if (Model.userProducts.Any())
        {
            <div class="products-cards-container">
                @foreach (var prod in Model.userProducts)
                {
                    <div class="product-card">
                        <p><strong>Farmer ID </strong>@prod.userID</p>
                        <p><strong>Product ID </strong>@prod.productID</p>
                        <p>@prod.productName</p>
                        <p>@prod.category</p>
                        <p><strong>Production Date</strong> @prod.productionDate.ToString("dd/MMMM/yyyy") </p>
                    </div>

                }
            </div>
        }
        else
        {
            <p>No Farmer has this ID.</p>
        }

    }
    else if (accountType == "Farmer")
    {
        <div class="text-center">
            <h1>Add Product</h1>
        </div>

        <br />
        <br />
            <!-- .................................................................................................................... -->
            <!-- Form for farmers to insert products -->
            <!-- .................................................................................................................... -->
        <form method="post" class="form-container">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-field">
                <input asp-for="product.productName" />
                <label>Name</label>
                <span asp-validation-for="product.productName" class="text-danger"></span>

            </div>

            <div class="select-field">
                <label>Category</label>
                <select asp-for="product.category">
                    <option value="">-- Select Category --</option>
                    <option value="Foods">Foods</option>
                    <option value="Fibers">Fibers</option>
                    <option value="Fuels">Fuels</option>
                    <option value="Raw Materials">Raw Materials</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="product.category" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="product.productionDate" type="date" />
                <label>Production Date</label>
                <span asp-validation-for="product.productionDate" class="text-danger"></span>
            </div>

            <input asp-for="product.userID" value="@userID" hidden />

            <div class="buttom-field">
                <button type="submit">Save</button>
            </div>

        </form>
        <div class="text-center">
            <h1>All Products</h1>
        </div>
        
            <!-- .................................................................................................................... -->
            <!-- Display cards with all products for farmers -->
            <!-- .................................................................................................................... -->
        @if (Model.userProducts.Any())
        {
            <div class="products-cards-container">
                @foreach (var prod in Model.userProducts)
                {
                    <div class="product-card">
                        <p><strong>ID </strong>@prod.productID</p>
                        <p>@prod.productName</p>
                        <p>@prod.category</p>
                        <p><strong>Production Date</strong> @prod.productionDate.ToString("dd/MMMM/yyyy") </p>
                    </div>
                } 
            </div>
        }
        else
        {
            <p>You don not have any product added yet or you if you recently addded a product try realoding this page.</p>
        }

    }else{
            <div class="text-center">
                <h1>Products</h1>
            </div>
            <p>Please loggin to access this page functions</p>
    }

</section>
<!-- ..........................................END OF FILE .......................................................................... -->
